var foo = "'hello world' from comm.wxs";
var getimagesize = function (d) {
  var s = d.substring(0,d.length-1).split(",");
  console.log(s.length);
  return s.length;
}

var getimagelist = function (d) {
  var s = d.substring(0, d.length-1).split(",");
  for(var i=0;i<s.length;i++){
    s[i] = "https://www.zshot.xyz"+s[i];
  }
  return s;
}

var gettime = function(test){
  var year = test.substring(0, 4);
  var month = test.substring(5, 7);
  var day = test.substring(8, 10);
  var hour = test.substring(11, 13);
  var min = test.substring(14, 16);
  var s = test.substring(17, 19);
  return year + "年" + month + "月" + day + "日" + hour + "时"
    + min + "分" + s + "秒" ;
}
module.exports = {
  foo: foo,
  getimagesize: getimagesize,
  getimagelist: getimagelist,
  gettime: gettime
};